@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  top: 0px !important;
}

body.exam-mode header,
body.exam-mode footer {
  display: none !important;
}

body.exam-mode {
  overflow: hidden;
}

p {
  font-size: 16px;
}

:root {
  --primary-dark: #0a2955;
  --primary-blue: #0e5da0;
  --secondary-color: #135f9b;
}

.bg-color {
  background: linear-gradient(135deg, var(--primary-dark), var(--primary-blue));
  color: white;
}
.bg-primary-color {
  background: linear-gradient(
    30deg,
    #de9f17 2%,
    #cf9a15 31%,
    #fff68a 68%,
    #ffcf45 96%
  );
  color: black;
}
.text-color {
  color: var(--primary-blue);
}

.text-secondary-color {
  color: var(--secondary-color);
}
.bg-secondary-color {
  background: var(--secondary-color);
}

.bg-color:hover {
  background: linear-gradient(135deg, var(--primary-dark), var(--primary-blue));
  color: white;
}

.VIpgJd-yAWNEb-L7lbkb {
  display: none !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}
