@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  top: 0px !important;
}

body.exam-mode header,
body.exam-mode footer {
  display: none !important;
}
 
body.exam-mode {
  overflow: hidden;
}

p{
  font-size: 16px;
}

:root {
  --primary-dark: #0a2955;
  --primary-blue: #0e5da0;
  --secondary-color: #135f9b;
}

.bg-color {
  background: linear-gradient(135deg, var(--primary-dark), var(--primary-blue));
  color: white;
}
.bg-primary-color{
   background: linear-gradient(30deg, #de9f17 2%, #cf9a15 31%, #fff68a 68%, #ffcf45 96%);
  color: black;
} 
.text-color {
  color: var(--primary-blue);
}

.text-secondary-color {
  color: var(--secondary-color);
}
.bg-secondary-color {
  background: var(--secondary-color);
}

.bg-color:hover {
  background: linear-gradient(135deg, var(--primary-dark), var(--primary-blue));
  color: white;
}

.VIpgJd-yAWNEb-L7lbkb {
  display: none !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  font-size: 0 !important;
}
 
